<h1>New schedule</h1>

<p>Stay with me for this, there's some steps but you don't have to retype anything.<p>

<p>Log in to Drexel One. On the Students tab, click "Student Detail Schedule".
Select the current term (atm it's Fall Term 11-12). When the big list appears,
click in the white area (anything /not/ the Drexel One header). Hit Ctrl-C. Come
back here and click the below text area. Hit Ctrl-V. Click "Create".</p>

<%= render 'form' %>

<%= link_to 'Cancel', roomy_path(@roomie) %>
