<h2>Want to find your floormates?</h2>
<p>Put your name and <a href="http://myhousing.drexel.edu/">MyHousing</a> reservation string below!</p>

<%= render 'form' %>

<br/><a href='/buildings'>(view all buildings)</a>
