<h1>Drexel Housing Roommate Finder</h1>

<p>Want to find your roommate? Put your name and entire housing assignment string below!</p>

<%= render 'form' %>

<br/><a href='/buildings'>(view all buildings)</a>
