<h1>Buildings</h1>

<table>
<% @buildings.each do |building| %>
  <tr>
    <td><%= building.name %></td>
    <td><%=pluralize building.roomies.all.size, 'people' %> so far</td>
  </tr>
<% end %>
</table>

